<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Restaurant</h1>
      <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @restaurant.phone_number %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>

      <p>
        <strong>Reviews:</strong>
        <% @restaurant.reviews.each do |review| %>
        <p><%= review.content %> - Rating : <%= review.rating %>/5</p>
        <% end %>
      </p>

      <%= link_to new_restaurant_review_path(@restaurant) do %>
      <button class="btn btn-primary">Add review</button>
      <% end %>
      <%= link_to edit_restaurant_path(@restaurant) do %>
      <button class="btn btn-info">Edit</button>
      <% end %>
      <%= link_to restaurants_path do %>
      <button class="btn btn-warning">Back to restaurants</button>
      <% end %>
    </div>
  </div>
</div>
